<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Distribuidores Mundiales</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Distribuidores Mundiales</h1>
        <p>A continuación se muestran algunos de los distribuidores más conocidos a nivel mundial:</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/image/ama.jpg" class="card-img-top" alt="Amazon">
                    <div class="card-body">
                        <h5 class="card-title">Amazon</h5>
                        <p class="card-text">Amazon es una empresa multinacional de tecnología y comercio electrónico, fundada por Jeff Bezos en 1994.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/image/mc.jpg" class="card-img-top" alt="McDonald's">
                    <div class="card-body">
                        <h5 class="card-title">McDonald's</h5>
                        <p class="card-text">McDonald's es una cadena internacional de restaurantes de comida rápida, conocida por sus hamburguesas y papas fritas.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/image/coca.jpg" class="card-img-top" alt="Coca-Cola">
                    <div class="card-body">
                        <h5 class="card-title">Coca-Cola</h5>
                        <p class="card-text">Coca-Cola es una empresa multinacional de bebidas, reconocida por su marca homónima de refrescos.</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
