<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Distribuidores Peruanos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Distribuidores Peruanos</h1>
        <p>A continuación se muestran algunos de los distribuidores peruanos más conocidos:</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/image/in.jpg" class="card-img-top" alt="Inka Cola">
                    <div class="card-body">
                        <h5 class="card-title">Inka Cola</h5>
                        <p class="card-text">Inka Cola es una marca de gaseosa peruana con un sabor único y distintivo, muy popular en el Perú.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/image/aje.jpg" class="card-img-top" alt="AJE Group">
                    <div class="card-body">
                        <h5 class="card-title">AJE Group</h5>
                        <p class="card-text">AJE Group es una empresa peruana dedicada a la fabricación y comercialización de bebidas, conocida por marcas como Kola Real y Cielo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/image/bem.jpg" class="card-img-top" alt="Bembos">
                    <div class="card-body">
                        <h5 class="card-title">Bembos</h5>
                        <p class="card-text">Bembos es una cadena peruana de comida rápida especializada en hamburguesas, reconocida por sus ingredientes frescos y sabores únicos.</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
